@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ffd900;
  --color-background-light: #f8f8f5;
  --color-background-dark: #23200f;
  
  --shadow-premium: 0 25px 50px -12px rgba(0, 0, 0, 0.4);
}

body {
  @apply antialiased bg-[#020617] text-white overflow-x-hidden;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@layer components {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-3xl border border-white/10;
  }

  .luxury-card {
    @apply bg-white/[0.03] border border-white/10 rounded-[32px] p-6 shadow-2xl hover:bg-white/[0.05] transition-all duration-300;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
